<div class="page-header">
  <h1>Bedankt voor in te schrijven <small>Hoe gaat het verder?</h1>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras scelerisque elementum tellus at semper. Nulla facilisi. Sed malesuada odio ut diam auctor non fermentum mauris sodales. Ut euismod, lacus at vulputate iaculis, purus mauris suscipit orci, nec varius nisl lorem aliquam eros. Donec a sem aliquet eros volutpat imperdiet vel id sapien.</p>
