<header class="intro">
  <div class="inner">
    <div class="container">
      <h1>mega.<span class="tom">tom</span>.bike</h1>
      <p class="lead"><i>onvoorstelbaar onvoorspelbaar</i></p>
    </div>
  </div>
</header>
<div class="container">
  <%= render :partial => "shared/flash_messages" %>
  <section id="about">
    <div class="page-header">
      <h1>Hoe werkt het?</h1>
    </div>
    <div class="row">
      <div class="span-one-third">
        <h3>Stel een ploeg samen</h3>
        <p>Dit jaar word je een ECHTE ploegleider. Selecteer 20 renners die heel het jaar voor in jouw dienst zullen rijden. Je krijgt van ons een budget van maar liefst <b><%=number_to_currency(2000000, :unit => "€", :delimiter => " ",:precision => 0) %></b> waarmee je aan de slag kan. Je kan renners selecteren uit alle ProTour ploegen en ook een deel van de renners uit de ProContinentale ploegen zijn beschikbaar.</p>
      </div>
      <div class="span-one-third">
        <h3>Maak een wedstrijdselectie</h3>
        <p>Voor elke wedstrijd kan je <b>10 renners</b> uit je ploeg van 20 renners selecteren. Deze renners zullen voor jou hun uiterste best doen om in de prijzen te vallen. Is één van je renners nog ziek geworden één dag voor de wedstrijd, niet getreurd: je wedstrijdploeg is snel aan te passen.</p>
      </div>
      <div class="span-one-third">
        <h3>Zie je puntentotaal stijgen</h3>
        <p>Als één of meerdere renners van jouw wedstrijdploeg in de prijzen valt, dan val jij ook in de prijzen. Voor elke wedstrijd vallen er namelijk punten te verdienen. En als je meerdere malen goed scoort maak je misschien wel kans op één van de klassementen: Algemeen, Voorjaar, Tour of Najaar. </p>
      </div>
  </div>
  </section>
  <% if ((current_user.nil? or @my_teams.empty?) and @can_subscribe) %>
    <section id="subscribe">
      <div class="container">
        <div class="row">
          <div class="well span4 offset6">
          <% if current_user and @my_teams.empty? %>
              <%= link_to 'Maak een ploeg aan', new_team_path, {:class => 'btn subscribe large'} %>
            <% else %>
              <%= link_to 'Inschrijven', new_user_registration_path, {:class => 'btn subscribe large'} %>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  <% end %>
</div>
