// Place all the styles related to the Results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.aligned-center {
  text-align: center;
}

.next_previous {
  padding-top: 27px;
}

#stages-pagination.pagination {
  margin-top: 0;
  margin-bottom: 10px;
}

#race-title.well {
  margin-bottom: 10px;
}

a.results_classification {
  border: 1px solid rgba(0, 0, 0, 0.15);
  float: left;
  line-height: 34px;
  padding: 0 14px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;

  &:hover, &.active {
    background-color: #C7EEFE;
  }
}

#new_result {
  border-bottom: 1px solid #DDD;
  width: 100%;
  margin-bottom: 10px;
  label {
    text-align: left;
  }
  .btn {
    padding-top: 5px;
    padding-bottom: 3px;
  }
}
