// Place all the styles related to the TeamsController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar {
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  float: left;
  margin: 0 18px 18px 0;
  padding: 4px;
}

.avatar img {
  display: block;
  float: left;
}

.small_profile {
  .user_info {
    float: left;
    width: 260px;
    display: block;
  }
  h3, h4 {
    line-height: 30px;
    float: left;
    display: block;
    clear: both;
    width: 260px;
    height: 30px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
  h4 {
    color: #999;
  }
  .points {
    display: block;
    float: right;
    width: 44px;
    height: 20px;
    margin: 6px 0;
    padding: 12px 0;
    line-height: 20px;
    font-size: 16px;
    color: #999;
    background-color: #DDD;
    text-align: center;
  }
}

ul#social_filters {
  float: left;
  clear: both;
  list-style: none;
  margin: 0 0 10px 0;
  li {
    float: left;
  }
  li + li {
    margin-left: 5px;
  }
}

table tr.my_team td, table tr.my_team:hover td, table tr.my_team td:hover,
.zebra-striped tbody tr.my_team:nth-child(2n+1) td {
  background-color: #0064CD;
  color: #FFF;
  a:link, a:hover, a:visited, a:visited {
    color: #FFF;
  }
}

#team-info {
  //position: fixed;
  margin-top: 70px;
}

#ranking-title {
  position: fixed;
  z-index: 100;
  background-color: #FFF;
  width: 940px;
  padding-top: 10px;
}

#ranking-teams {
  margin-top: 70px;
}

.alert-message.alert-top-margin {
  margin-top: 10px;
}

.alert-message.alert-bottom-less-margin {
  margin-bottom: 8px;
}
