<% if model.errors.any? %>
  <div id="error_explanation" class="alert-message block-message error">
    <strong><%= model.errors.count %> <%= I18n.translate :error, :count => model.errors.count %> gevonden:</strong>
    <ul>
    <% model.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
