<div class="page-header">
  <h1>Nieuwe uitslag <small>voor <%= @race.name %></small></h1>
</div>
<%= debug @riders %>
<p>De uitslag is met succes opgeslagen</p>
<p>Bekijk de <%= link_to "uitslag", "/results/#{@race.id}" %></p>