<div class="page-header">
  <h1>Wijzig je wedstrijdploeg <small>voor <%= @race_team.race.name %></small></h1>
</div>

<%= render :partial => 'form', :locals => {:url => "/race_teams/#{@race_team.id}"} %>

<%= link_to 'Back', race_teams_path %>
