@mixin bottom-top-gradient($start,$end) {
  background-image: -khtml-gradient(linear, left top, left bottom, from($start), to($end));
  background-image: -moz-linear-gradient(top, $start, $end);
  background-image: -ms-linear-gradient(top, $start, $end);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $start), color-stop(100%, $end));
  background-image: -webkit-linear-gradient(top, $start, $end);
  background-image: -o-linear-gradient(top, $start, $end);
  background-image: linear-gradient(top, $start, $end);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$end', GradientType=0);

}

.topbar-inner {
  background-color: #DD4B39;
  @include bottom-top-gradient(#DD4B39,#D14836);
}

.topbar div > ul .active > a, .nav .active > a {
  background-color: #C53727;
  background-color: rgba(0, 0, 0, 0.25);
}

.topbar a {
  color: #FFFFFF;
}

.topbar div > ul a:hover, .nav a:hover {
  background-color: rgba(255,255,255,0.05); 
}

#content {
  padding-top: 40px;
}

.topbar .brand {
  color: #eeeeee;
}

.btn.subscribe {
  background-color: #DD4B39;
  @include bottom-top-gradient(#DD4B39,#D14836);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 18px;
  &:hover {
    color: #FFFFFF;
    background-position: 0 -200px;
  }
}

.container.top_margin {
  margin-top: 10px;
}

form .input.no-margin-input {
  margin-left: 0;
}

#all_riders table, #selected_riders table, #my_team_races table {
  td {
    vertical-align: middle;
  }
  td, th {
    line-height: 27px;
    padding-top:5px;
    padding-bottom: 5px;
  }
  .btn.small {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

#all_riders table td.rider_name span, #selected_riders table td.rider_name span{
  width: 215px;
  height: 27px;
  overflow: hidden;
  display: block;
  text-overflow:ellipsis;
  white-space:nowrap;
}

#all_riders table td.rider_value, #selected_riders table td.rider_value {
  width: 60px;
}

#selected_riders table td.rider_name span{
  width: 240px;
}

.ui-autocomplete-loading { 
  background: url("indicator.gif") no-repeat scroll right center white;
}

.topbar div > ul .menu-dropdown, .nav .menu-dropdown, .topbar div > ul .dropdown-menu, .nav .dropdown-menu {
  background-color: #DC5342;
  .divider {
    background-color: #DD4B39;
    border-color: #D14836;
  }
  li a {
    color: #FFF;
    &:hover {
      background-color: #DD4B39;
      @include bottom-top-gradient(#DD4B39,#D14836);
    }
  }
}

#error_explanation {
  background-color: #FDDFDE;
  border-color: #FBC7C6;
  color: #404040;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-image: none;
  box-shadow: none;
  padding: 14px;
  background-repeat: repeat-x;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 18px;
  position: relative;
  h2 {
    font-size: 13px;
    line-height: 1;
  }
  ul {
    margin-left: 30px;
    list-style: disc outside none;
    margin-bottom: 0;
    li {
      line-height: 18px;
    }
  }
}

#search_name {
  float: left;
}

#search_max {
  float: left;
  clear: right;
  width: 100px;
}

#search_message {
  clear: both;
}

#search_max_label {
  float: left;
  text-align: left;
  width: 35px;
  margin-left: 5px;
}

.overlay {
  opacity: 0.5;
}

.loading {
  background: url("ajax-loader.gif") no-repeat scroll 5px center #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 100;
  position: absolute;
  margin-left: 235px;
  margin-top: 187px;
  padding: 15px 30px 15px 45px;
  border-radius: 3px;
  text-align: center;
  color: #195F91;
  font-weight: bold;
}
