// Place all the styles related to the MyTeams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.bordered-table tbody {
  tr.odd td {
    background-color: #F3F3F3;
  }
  tr.odd:hover td, tr.even:hover td {
    background-color: #EAEAEA;
  }

  tr.odd.selected td, tr.even.selected td, 
  tr.odd.selected:hover td, tr.even.selected:hover td {
    background-color: #CFCFCF;
  }
}

#my_team_riders table tbody td span{
  line-height: 20px;
}

.left_floater {
  float: left;
}

.right_floater {
  float: right;
}

.btn.small.thin {
  padding-top: 4px;
  padding-bottom: 4px;
}

.align_with_header {
  margin-top: 5px;
}
