// Place all the styles related to the Results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.aligned-center {
  text-align: center;
}

.next_previous {
  padding-top: 27px;
}

#stages-pagination.pagination {
  margin-top: 0;
  margin-bottom: 10px;
}

#race-title.well {
  margin-bottom: 10px;
}
