<table class="bordered-table zebra-striped">
  <thead>
    <th>Categorie</th>
    <th># Beloonde renners</th>
    <th>Puntenverdeling</th>
  </thead>
  <tbody>
<% Category.all.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.nr_of_riders %></td>
    <td><%= category.points %></td>
  </tr>
<% end %>
</tbody>
</table>
