<p>Hallo <%= @resource.email %>!</p>

<p>Je hebt een link aangevraagd om je wachtwoord te wijzigen, je kan dit doen op onderstaande link te klikken</p>

<p><%= link_to 'Verander je wachtwoord', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Als je deze mail niet aangevraagd hebt, gelieve hem dan te negeren</p>
<p>Je wachtwoord blijft ongewijzigd totdat je op de bovenstaande link klikt en een nieuw wachtwoord aanmaakt.</p>
