<!DOCTYPE html>
<html>
<head>
  <title>mega.tom.bike</title>
  <%= stylesheet_link_tag    "mobile" %>
  <%= javascript_include_tag "mobile" %>
  <%= csrf_meta_tags %>
</head>
<body>
  Hello mobile world!
</body>
</html>
